<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrazieForm</title>
    <link rel="stylesheet" href="index.html">
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Articoli</a></li>
            <li><a href="#">Lavora con noi</a></li>
        </ul>
    </nav>
    <div>
    <h1>GRAZIE PER AVERCI SCELTO, TI CONTATTEREMO PRIMA POSSIBILE</h1>
</div>
    
</body>
</html>